body {
  font: 14pt "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  background-image: url("./11.jpg");
  margin: 20px;
}

h1 {
  font: 40pt "Alfa Slab One", serif;
  text-transform: none;
}

#reg {
  font-size: 16pt;
}

.controlButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid black;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 0px auto 10px auto;
}

#count {
  background-color: #32050c;
  border-radius: 10px;
  border: 5px solid black;
  width: 75px;
  height: 50px;
  font: 30pt "VT323";
  margin: 0px auto 10px auto;
}

.countDisplay-on {
  color: red;
}

.countDisplay-off {
  color: #430710;
}

#countDisplay {
  top: 50%;
  left: 50%;
  text-align: center;
  position: absolute;
  margin: -37px 0 0 -17px;
}

.strict {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0px auto 10px auto;
  border: 2px solid black;
}

.strict-off {
  background-color: black;
}

.strict-on {
  background-color: red;
}

#gameControls {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: snow;
  border: 15px solid #333;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -175px 0 0 -175px;
}

#gameCanvas {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -400px 0 0 -400px;
  cursor: pointer;
}

.powerSwitch-on {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.powerSwitch-off {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -65px;
}

#powerSwitch {
  padding: 20px;
  position: relative;
}

.example-appear {
  color: #430710;
}

.example-appear.example-appear-active {
  color: #32050c;
  transition: color 500ms ease-in;
}
